@model IEnumerable<laba9.Models.Outputs>

@{
    ViewBag.Title = "Журнал";
}

<h2>Журнал</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            ID Чит-ля
        </th>
        <th>
            ID книги
        </th>
        <th>
            Дата выдачи
        </th>
        <th>
            Дата возврата
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.o_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B_id)
        </td>
        <td>
            @item.o_dt_out.ToShortDateString()
        </td>
        <td>
            @item.o_dt_in.ToShortDateString()
        </td>
    </tr>
}

</table>
